In [2]:
# basic stuff
import psycopg2
import pandas as pd
import psycopg2.extras
import os

# Imports the method used to connect to DBs
from sqlalchemy import create_engine

# function to establish a session with a connected database
from sqlalchemy.orm import Session

# database compliant datatypes
from sqlalchemy import Column, Integer, String, Float

## Setup engine (change password to local password!)

In [3]:
# password is hard-coded in the connection string as "postgres"
engine = create_engine('postgresql://postgres:postgres@localhost:5432/citibike_db')

## Import the raw data
### Loop through all files in the raw_data directory
Opens each file, renames some columns, and then inserts into a staging table in PostgreSQL

In [9]:
# setup directory to loop through
directory = '../assets/raw_data'

# go through each file in directory
for filename in os.listdir(directory):
    
    # open the file
    citi_file = os.path.join("..","assets", "raw_data", filename)
    
    # read into a dataframe
    citi_df = pd.read_csv(citi_file, encoding='ISO-8859-1')
    
    # rename some of the columns
    citi_df = citi_df.rename(columns={
        'start station id':'start_station_id', 
        'start station name':'start_station_name',
        'start station latitude': 'start_station_latitude',
        'start station longitude': 'start_station_longitude',
        'end station id':'end_station_id', 
        'end station name':'end_station_name',
        'end station latitude': 'end_station_latitude',
        'end station longitude': 'end_station_longitude',
        'birth year': 'birth_year'

    })
    
    # write dataframe to table, replace the rows if they exist
    citi_df.to_sql('citi_staging', con=engine, if_exists='append', index=False)

In [5]:
# see how much data we got!!!
engine.execute("SELECT COUNT(*) AS Number_Rows FROM citi_staging ").fetchall()

[(1260716,)]

## Read in the data from the main dashboard SQL view

In [6]:
citi_group_df = pd.read_sql_query('select * from "citi_trips_by_station_season_age_duration"',con=engine)

citi_group_df.head()

,start_station_id,end_station_id,trip_season,age_group,duration_category,trip_year,trip_month,number_of_trips
0,3183,224,Summer,18-30 yrs,15 to 30 minutes,2019.0,4.0,1
1,3183,311,Summer,40-50 yrs,15 to 30 minutes,2019.0,5.0,1
2,3183,447,Summer,40-50 yrs,2 to 5 hours,2018.0,6.0,4
3,3183,505,Summer,40-50 yrs,2 to 5 hours,2018.0,6.0,1
4,3183,3002,Winter,30-40 yrs,1 to 2 hours,2018.0,12.0,1

## Write view into a new csv
The SQL view aggregates the data to certain levels (season, age group, duration group, month, etc.).  This is to keep the size down for Tableau

In [31]:
full_file = os.path.join("..", "assets", "clean_data", "trips_by_station_ageGroup_duration_month.csv")
citi_group_df.to_csv(full_file, index=False, header=True)

## Do the same for the station view
This csv will be joined with the main one.  This contains one row per station and has the name, lat/long etc

In [32]:
citi_station_df = pd.read_sql_query('select * from "citi_station"',con=engine)

citi_station_df.head()

,station_id,station_name,station_latitude,station_longitude,first_used_datetime,last_used_datetime
0,3183,Exchange Place,40.716247,-74.033459,2018-01-01 02:06:17.541,2019-05-20 08:25:35.050
1,3678,Fairmount Ave,40.725726,-74.071959,2018-04-13 18:15:30.985,2020-01-31 18:47:33.562
2,3679,Bergen Ave,40.722104,-74.071455,2018-04-20 08:53:10.096,2020-01-31 18:10:30.237
3,3681,Grand St,40.715178,-74.037683,2018-04-20 01:53:28.083,2020-01-31 18:41:31.024
4,3694,Jackson Square,40.711130,-74.078900,2018-07-13 16:18:27.534,2020-01-31 06:40:51.997

### Write the station list to file

In [33]:
full_file = os.path.join("..", "assets", "clean_data", "station_list.csv")
citi_station_df.to_csv(full_file, index=False, header=True)

### bike trip info
Hoping this one shows if any of the bikes are used way more than the others

In [7]:

bike_trips_df = pd.read_sql_query('select * from "bike_trips"',con=engine)

bike_trips_df.head()

,bikeid,trip_season,duration_category,trip_year,trip_month,number_of_trips
0,14697,Winter,< 5 minutes,2018.0,11.0,8
1,14697,Winter,5 to 15 minutes,2018.0,11.0,3
2,14792,Summer,< 5 minutes,2019.0,9.0,7
3,14792,Summer,< 5 minutes,2019.0,10.0,2
4,14792,Summer,15 to 30 minutes,2019.0,9.0,2

### Write the bike trip aggregations into a file

In [8]:
full_file = os.path.join("..", "assets", "clean_data", "bike_trips.csv")
bike_trips_df.to_csv(full_file, index=False, header=True)